@charset "UTF-8";

#wrap{
  position: relative;
  width: 100%;
  min-height: 100%;
  z-index: 0;
  background-color: beige;
}

#headBox{
  z-index: 101;
  position: fixed;
  top: 0; left: 0; right: 0;
  min-height: 56px;
  height: 56px;
  display: flex;
  text-align: center;
  border-bottom: 1px solid #fd7622;
  box-sizing: border-box;
  background-color: #fd7622;
  color: #fff;
  width: 100%;
  min-height: 56px;
  display: block;
  
}

#logo{
  min-width: 240px;
  display: flex;
  align-items: center;
  font-size: 30px;
  height: 100%;
  padding-left: 24px; 
}

#navBox{
  margin: 0 auto;
  padding: 0;
  display: flex;

  align-items: center;
  box-sizing: border-box;
  max-width: 1440px;
  /*display: none;*/
}

.module_list{
  margin: 0 0 0 -24px;
  padding: 0;
  width: 100%;
  flex: 1 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

.module_list > li{
  position: relative;
  margin: 0; 
  margin: 0;
  padding-right: 50px; padding-top: 40px; 
  height: 100%;
  display: block;
  align-items: center;
  text-transform: uppercase;
}

.module_list > li:last-child{
  margin-left: auto ;
}

#slideBox{
  width : 100%; height: 1000px;
  position: relative;
  overflow: hidden;
}

.area_indicator{
  position: absolute; z-index: 9; left:50%; bottom: 47px;
  width: 100%;  height:auto;
  transform:translateX(-50%);
  line-height: 1;
}

.area_indicator ul{
  display: flex;
  justify-items: center;
  justify-content: center;
}
.area_indicator li{ width: 20px; height: 20px; margin:0 10px; }
.area_indicator li.action a{background-color:#fd7622;}

.area_indicator a{
  display: block; width: 100%; height: 100%;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #fff;
}

.area_indicator a:hover{ background-color: blue;}
.area_indicator a:focus{ outline:2px solid #333; background-color:#fd7622;}


.slide_wrap { width: 100%; height: 100%; }

.slide_wide {
  display:flex;
  width:400%; height: 100%; }

.slide_area{
  position: relative;
  width: 25%; height:100%;
  box-sizing: border-box;  
  background-repeat: no-repeat; background-size: cover;
}
.slide_1 {background-image: url(../../img/SlideBox/Slide_1.png);}
.slide_2 {background-image: url(../../img/SlideBox/Slide_2.png);}
.slide_3 {background-image: url(../../img/SlideBox/Slide_3.png);}
.slide_4 {background-image: url(../../img/SlideBox/Slide_4.png);}

.item_content{
  position: absolute;
  left: 20%;  bottom: 130px;  z-index: 99;
  width:700px; height:auto; 
  padding:2rem; background-color: rgba(0,0,0,0.7);
}

.item_content > h3{
  font-size:2.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: white;
}

.item_content > p{
  font-size: 20px;
  margin-bottom:1rem;
  font-weight: 400;
  color:#fff;
}

.item_content .link{
  width: 220px;
  height: 50px;
  border: 1px solid #fff;
}

.link a{
  width: 100%; height: 100%; background: none;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  line-height: 1;
  outline: none;
  padding-left: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.link a:hover {background-color: #fd7622;}

#footBox{
  /*display: none;*/
  margin-top: auto;
  background-color: #fd7622;
  color: #fff;
}

.footer_module{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  font-size: 15px;
}

.footer_company{
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
}

.footer_info{
  font-weight: 500;
  line-height: 28px;
}

.footer_copyright{
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
}

.footer_link{
  display: flex;
  width: 250px;
  margin: 60px 0;
  border-top: 1px solid #fff;
  line-height: 1.8;
  font-weight: 500;
  justify-content: space-between;
}

.footer_link ul{
  margin: 0;
  padding: 0;
}

.footer_policy{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_policy ul{
  margin: 0;
  padding: 0;
}

.footer_policy div a:nth-child(1){
  text-decoration: underline;
}